---
import Layout from "../../layouts/Layout.astro";
import mainLogo from "/logo.svg";
import lion from "/lion.svg";
import logoWithText from "/logoWithText.svg";
import instagram from "/instagram.svg";
import "animate.css";
// Asynchronously loads all .mdx blog posts
let posts = await Astro.glob("../../pages/posts/*.mdx");
// Filter out all the posts with "draft: true" present in the frontmatter
posts = posts.filter((post) => !post.frontmatter.draft);
// Order all posts in chronological order
posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
---

<Layout title="FTC VERTEX 15534">
	<main>
		<div class="flex h-auto w-screen justify-center py-32">
			<div class="w-5/6 md:w-2/3">
				<h1 class="pb-8 text-center font-hype text-5xl md:text-9xl">OUTREACH</h1>
				<ul>
					{
						posts.map((post) => (
							<li class="py-6">
								<a href={post.url}>
									<p class="font-display text-2xl md:text-3xl font-bold">
										{post.frontmatter.title}
									</p>
								</a>
								<div class="pl-4 pt-2 text-md md:text-md">
									<p>
										{new Date(
											post.frontmatter.date
										).toLocaleDateString()}
									</p>
									<p>{post.frontmatter.desc}</p>
									<p class="text-neutral-500">
										{
											((post.frontmatter.tags) ?
											post.frontmatter.tags.map (
												(tag: any) => (
													<span class="pr-2">
														{"#" + tag}
													</span>
												)
											) : '')
										}
									</p>
								</div>
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</main>
</Layout>
