---
import Layout from "../layouts/Layout.astro";
import Achievement from "../components/achievement.astro";
import mainLogo from "/logo.svg";
import lion from "/lion.svg";
import logoWithText from "/logoWithText.svg";
import instagram from "/instagram.svg";
import "animate.css";
---

<Layout title="FTC VERTEX 15534">
	<main>
		<div class="flex justify-center items-center font-hype text-5xl md:text-9xl pt-32 pb-6">Achievements</div>
		<div class="flex min-h-screen w-screen justify-center pb-32">
			<div
				class="absolute h-full w-6 bg-gradient-to-b from-red-500 to-black -z-50"
			>
			</div>
			<div
				class="mx-8 md:w-1/2 flex-col items-center justify-center"
			>
				<Achievement year="2023" month="April">Team 15534 returns to worlds for the first time since 2019 and had an amazing performance! Team 15534 won the 2nd place Promote Award and 3rd place Inspire Award. Allianced with Up-A-Creek Robotics of Longmont, Colorado and SUPERNOVA of Beijing, China, VERTEX swept the Jemison division and AC conference, falling just short of becoming world champions. Team members Deborah Ang and Chaney Hollis won the Deans List and Judges Choice awards respectively. See you next year!</Achievement>
				<Achievement year="2023" month="February">Team 15534 wins the state championship, securing the first place robot performance. We ended the state season with 7/10 top scores in NH and Innovate award. Team member Deborah Ang wins Dean's List Finalist.</Achievement>
				<Achievement year="2021" month="May">Team 15534 wins the state championship, securing the first place Inspire award, first place in robot performance, and the first place Promote award. Team 15534 secures a perfect qualifying record and sets the highest match score of the competition. Team member Vincent wins Dean's List Finalist.</Achievement>
				<Achievement year="2021" month="May">Team 15534 again ranks in first place at their second Ultimate Goal qualifier, achieving the highest match score of the competition.</Achievement>
				<Achievement year="2021" month="April">Team 15534 wins their first qualifier of the Ultimate Goal season, earning the Inspire Award and placing first in robot performance. Team 15534 achieved the highest match score of the competition.</Achievement>
				<Achievement year="2021" month="January">Team 15534 hosts and organizes the VTXCADs CADathon, an educational, project-based CAD competition with Novice, FIRST Tech Challenge, and FIRST Robotics Competition categories. The event featured a novice workshop series, outside presentations from companies (such as Siemens), and an impressive panel of judges. VTXCADs was sponsored by goBilda and SendCutSend.</Achievement>
				<Achievement year="2020" month="September">Team 15534 is invited to present at Canada's FIRST LEGO League Kickoff Conference, engaging audience members with the Ultimate Guide to a Winning Presentation.</Achievement>
				<Achievement year="2020" month="February">Team 15534 is invited to speak in the 24 Hours of STEM International Festival, presenting their odometry tracking system to thousands of viewers across the world.</Achievement>
				<Achievement year="2020" month="January">Team 15534 attends the state championship, once again securing a perfect qualifying record. A finals round loss against Team Gluten Free broke Team 15534's 7-0-0 winning streak, and rendered the team unable to contend for Winning Alliance Captain. Nevertheless, Team VERTEX earned the Finalist Alliance Captain title as well as first place in the Promote and Think awards, and finished as finalists for the Collins Aerospace Innovate and Control awards.</Achievement>
				<Achievement year="2020" month="January">Team 15534 attends their second qualifier of the Skystone season. They manage to break their previous world record. They also win the Collins Aerospace Innovate award as recognition for having the most innovate robot design solution.</Achievement>
				<Achievement year="2019" month="August">Team 15534 wins their first qualifier of the Skystone season, securing the Inspire award. In addition to setting a new world record for most points scored in an official match, they earn 2nd place in the Control, Collins Aerospace Innovate, and Motivate award categories.</Achievement>
				<Achievement year="2019" month="April">Team 15534 is invited to speak at the annual FIRST Global Conference as a result of their prior success.</Achievement>
				<Achievement year="2019" month="March">Team 15534 competes at the World Championships in Detroit, placing within the top five of all first-year teams across the world.</Achievement>
				<Achievement year="2019" month="February">Team 15534 wins the state championship, securing a 5-0-0 qualifying match record. They are awarded the Inspire and Promote awards, along with finishing runner-ups in the Control, Think, Connect, and Motivate award categories. Team member David wins Dean's List Finalist.</Achievement>
				<Achievement year="2018" month="December">Team 15534 engages with the community for the first time, showcasing their robot at the FIRST Lego League State Championships.</Achievement>
				<Achievement year="2018" month="November">Team 15534 attends their first ever scrimmage of the Rover Ruckus season.</Achievement>
				<Achievement year="2018" month="September">FIRST Tech Challenge Team 15534 is founded by group of passionate students at Phillips Exeter Academy.</Achievement>
			</div>
		</div>
	</main>
</Layout>
