---
import Layout from '../layouts/Layout.astro';
import mainLogo from "/logo.svg";
import lion from "/lion.svg";
import logoWithText from "/logoWithText.svg";
import instagram from "/instagram.svg";
import "animate.css";
---

<Layout title="FTC VERTEX 15534">
	<main>
		<div class="flex justify-center w-screen min-h-screen">
		</div>
	</main>
</Layout>
