---
import Layout from "../layouts/Layout.astro";
import mainLogo from "/logo.svg";
import lion from "/lion.svg";
import logoWithText from "/logoWithText.svg";
import instagram from "/instagram.svg";
import "animate.css";
---

<Layout title="FTC VERTEX 15534">
  <main>
    <div class="flex min-h-screen w-screen justify-center py-32">
      <div class="absolute h-full w-6 bg-gradient-to-b from-red-500 to-black">
      </div>
      <div
        class="w-1/2 flex-col items-center justify-center border border-red-500"
      >
        <div
          class="flex odd:justify-end odd:text-right even:justify-start even:text-left"
        >
          <div class="w-1/2 border border-blue-500 px-6">
            <h1 class="font-hype">2022</h1>
          </div>
        </div>
        <div
          class="flex odd:justify-end odd:text-right even:justify-start even:text-left"
        >
          <div class="w-1/2 border border-blue-500 px-6">
            <h1>Hello, world!</h1>
          </div>
        </div>
        <div
          class="flex odd:justify-end odd:text-right even:justify-start even:text-left"
        >
          <div class="w-1/2 border border-blue-500 px-6">
            <h1>Hello, world!</h1>
          </div>
        </div>
        <div
          class="flex odd:justify-end odd:text-right even:justify-start even:text-left"
        >
          <div class="w-1/2 border border-blue-500 px-6">
            <h1>Hello, world!</h1>
          </div>
        </div>
        <div
          class="flex odd:justify-end odd:text-right even:justify-start even:text-left"
        >
          <div class="w-1/2 border border-blue-500 px-6">
            <h1>Hello, world!</h1>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
