---
import Layout from '../layouts/Layout.astro';
import mainLogo from "/logo.svg";
import lion from "/lion.svg";
import logoWithText from "/logoWithText.svg";
import instagram from "/instagram.svg";
import "animate.css";
---

<Layout title="FTC VERTEX 15534">
	<main>
		<div>
			<div class="flex w-screen h-screen justify-center items-center">
				<div
					class="relative h-3/4 w-full z-10"
					data-scroll
					data-scroll-speed="3"
				>
					<img src={mainLogo} alt="" class="w-full h-full"/>
				</div>
				<div class="absolute">
					<h1
						class="font-hype text-[250px] text-center tracking-tight animate__animated animate__fadeIn"
						data-scroll
						data-scroll-speed="5"
					>
						1 5 5 3 4
					</h1>
					<p
						class="text-3xl text-left font-display font-bold tracking-wide animate__animated animate__fadeIn"
						data-scroll
						data-scroll-speed="2"
					>
						FTC VERTEX
					</p>
				</div>
			</div>
			<h1 class="absolute font-hype text-4xl origin-top-right rotate-90 right-0 text-[#9a1d2f]">
				<span class="px-20">XAPITI DEOT</span>
				<span class="px-20">NON SIBI</span>
			</h1>
			<h1 class="absolute font-hype text-4xl origin-bottom-left rotate-90 left-0 text-[#9a1d2f]">
				<span class="px-20">XAPITI DEOT</span>
				<span class="px-20">NON SIBI</span>
			</h1>
			<div class="h-screen px-48 py-32">
				<div class="max-w-[1200px]">
					<h1
						class="font-display font-bold text-8xl -mb-3"
						data-scroll
						data-scroll-speed="2"
					>
						About Us
					</h1>
					<p class="pl-6 font-body text-lg">
						Founded in the fall of 2018, our team consists of a
						diverse group of students passionate about using
						knowledge in robotics and STEAM to benefit larger
						communities. Though we have enjoyed enormous
						success, we continue to strive to explore the limit
						of the intersection of knowledge and creativity.
						Going into our fifth year, we are thrilled by the
						challenges that await us in the upcoming 2022-2023
						season!
					</p>
				</div>
			</div>
			<div class="h-screen px-48 py-10">
				<h1
					class="font-display font-bold text-8xl text-right py-10"
					data-scroll
					data-scroll-speed="2"
					data-scroll-direction="horizontal"
					data-scroll-delay="1"
				>
					More
				</h1>
				<div class="py-6">
					<div class="h-8 w-100% bg-gradient-to-r from-transparent to-[#9a1d2f]"></div>
					<h1 class="font-display font-bold text-lg">
						100% Giga Chads
					</h1>
				</div>
				<div class="py-6">
					<div class="h-8 w-100% bg-gradient-to-r from-transparent to-[#9a1d2f]"></div>
					<h1 class="font-display font-bold text-lg">
						100% Better
					</h1>
				</div>
				<div class="py-6">
					<div class="h-8 w-1/2 bg-gradient-to-r from-transparent to-[#9a1d2f]"></div>
					<h1 class="font-display font-bold text-lg">
						50% Brain Cells
					</h1>
				</div>
			</div>
			<h1 class="absolute font-hype text-4xl origin-top-right rotate-90 right-0 text-[#9a1d2f]">
				<span class="px-20">XAPITI DEOT</span>
				<span class="px-20">NON SIBI</span>
			</h1>
		</div>
	</main>
</Layout>
