---
import Layout from "../layouts/Layout.astro";
import Achievement from "../components/achievement.astro";
import mainLogo from "/logo.svg";
import lion from "/lion.svg";
import logoWithText from "/logoWithText.svg";
import instagram from "/instagram.svg";
import "animate.css";
---

<Layout title="FTC VERTEX 15534">
	<main>
		<div class="flex justify-center items-center font-hype text-5xl md:text-9xl pt-32 pb-6">Achievements</div>
		<div class="flex min-h-screen w-screen justify-center pb-32">
		</div>
	</main>
</Layout>
