<!-- REDIRECT for old webpage -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0;url=/vtxcads" />
    <title>Redirect to https://ftcvertex.org/vtxcads</title>
</head>
<body class="bg-black">

</body>
</html>