---
import Layout from "../layouts/Layout.astro";
import mainLogo from "/logo.svg";
import lion from "/lion.svg";
import logoWithText from "/logoWithText.svg";
import instagram from "/instagram.svg";
import "animate.css";
---

<Layout title="FTC VERTEX 15534">
	<div class="flex min-h-screen w-screen justify-center py-32">
		<div class="w-full md:w-1/2">
			<h1 class="pb-8 text-center font-hype text-4xl md:text-9xl">VTX CADs 2.0</h1>
			<div class="px-8">
				<h2 class="font-display text-lg md:text-2xl font-bold">
					What is VTXCADs 2.0?
				</h2>
				<p class="py-4 px-4 text-sm md:text-xl">
					FTC team VERTEX is excited to announce that we will be
					hosting VTXCADs 2023: an annual CADathon for interested
					students of all experience levels. A CADathon, similar to a
					hackathon, is an educational, project-based CAD
					(Computer-Aided Design) competition. Utilizing a CAD
					software of their choice, teams of students will design a
					robot that best suits the yearly game challenge. Their
					submissions will be presented to a panel of judges that will
					assess their designs based on a rubric that includes
					project, presentation, and teamwork.
				</p>
				<p class="py-4 px-4">
					All middle and high schoolers internationally are welcome to
					participate. VTXCADs 2023 consists of two categories: a
					traditional FTC-style design competition, and a second,
					novice-friendly category complete with a free workshop
					series led by experienced professionals/students.
				</p>
				<h2 class="font-display text-lg md:text-2xl font-bold">
					Competition Information:
				</h2>
				<h2 class="font-display text-md md:text-xl font-bold">
					General:
				</h2>
				<p class="py-4 px-4">
					VTXCADs 2023 will be held from \[...\] Registrations will close \[...\] Participants will register online with teams of 21-4 people, or alone. Participants may indicate interest in VTXCADs administration-led team assignments, through which they will be matched with other attendees based on their experience and interests.
				</p>
				<h2 class="font-display text-md md:text-xl font-bold">
					Mentors & Speakers:
				</h2>
				<p class="py-4 px-4">
					Mentors consist of various industry professionals experienced in CAD, available at select periods during the competition to provide help and feedback to teams through Discord/other communication platforms. Mentors may also host workshops in collaboration with student organizers. Additionally, we will invite speakers who work with CAD professionally to share their expertise. We have previously hosted professionals such as \[\], \[\], and \[\].
				</p>
				<h2 class="font-display text-md md:text-xl font-bold">
					Divisions:
				</h2>
				<p class="py-4 px-4">
					VTXCADs 2.0 will have two divisions: 1) novice, and 2) FTC.
					<br>
					<br>
					<span class="font-bold">Novice Division</span>
					<br>
					<br>
					The novice division is for students who have little prior background knowledge in CAD. Through a series of educational workshops, novice participants will be given opportunities to learn CAD and create basic designs. Participants in this division are more free to focus on their creativity and experiment with fun CAD features! Judges will more heavily weigh personal growth and vision over complexity or functionality of designs.
					<br>
					<br>
					<span class="font-bold">FTC Division:</span>
					<br>
					<br>
					This division is for students with prior background knowledge with CAD to create and design, with a special focus on FTC-based design. Advanced participants will be able to participate in workshops and speaker sessions to learn about CAD through its applications. (These workshops will still be accessible to novice participants as well!) 
				</p>
				<h2 class="font-display text-lg md:text-2xl font-bold">
					Judging & Awards:
				</h2>
				<p class="py-4 px-4">We will gather a panel of volunteer judges experienced in CAD to evaluate VTXCADs 2022 projects. Along with submitting a CAD file, each team will record a video presentation about their robot design, including the inspiration, workings, methodology, challenges, accomplishments, and learnings. Special cases may allow teams to submit written presentations in lieu of a video. Judges will evaluate each project based on the following criteria, weighted differently based on division:</p>
				<p class="py-4 px-4">
					<ul>
						<li>
							- Personal Growth
						</li>
						<li>
							- Technical Expertise
						</li>
						<li>
							- Creativity and Originality
						</li>
						<li>
							- Adherence to Theme
						</li>
						<li>
							- Functionality
						</li>
						<li>
							- Teamwork
						</li>
						<li>
							- Presentation
						</li>
					</ul>
				</p>
				<p class="py-4 px-4">
					Teams will have the option to share their designs with other participants and the public, who can vote on designs and give constructive feedback. This event will allow teams to form inter-team connections!
				</p>
				<h2 class="font-display text-lg md:text-2xl font-bold">
					Awards:
				</h2>
				<p class="py-4 px-4">
					There will be overall winners, as well as awards based on a team’s proficiency in individual categories. Prizes may be given to awardees.
				</p>
				<h2 class="font-display text-lg md:text-2xl font-bold">
					Sponsors & Prizes:
				</h2>
				<p class="py-4 px-4">
					Our first VTXCADs (1.0) received sponsorships from GoBilda, Siemens, and SendCutSend to purchase prizes for our participants. These included gift cards for parts, access to paid CAD softwares, and more. Beyond giving participants a further incentive (in addition to personal glory) to participate and learn, prizes enable FTC participants to receive access to software/parts for the FTC season. Some FTC teams may not have the means to purchase these items otherwise. In the past and for VTXCADs 2.0, prizes will mainly consist of gift cards and online access, although some may need to be shipped to award winners.
				</p>
				<h2 class="font-display text-lg md:text-2xl font-bold">
					Logistics:
				</h2>
				<h2 class="font-display text-md md:text-xl font-bold">
					Event Outreach & Marketing:
				</h2>
				<p class="py-4 px-4">
					To properly advertise and share VTXCADs 2.0 information online, we will add a page to our team website—ftcvertex.org. This will contain event logistics and after the event, photos and winning projects. Additionally, we will continue updating the VTXCADs 2.0 instagram account to keep registrants informed of our behind-the-scenes work before the CADathon.
					<br>
					<br>
					Marketing will be done through these two platforms, in addition to FTC Discord servers, Reddit, personal connections, and more.
				</p>
				<h2 class="font-display text-md md:text-xl font-bold">
					Team Registration & Communication:
				</h2>
				<p class="py-4 px-4">
					Participants will register on Devpost. Upon registration, they will be asked to join the VTXCADs 1.0 and 2.0 Discord server, where the majority of communications will occur. Here, participants can receive assistance from mentors and communicate with teammates (although communications are not restricted to the Discord server). Important announcements will also be sent out through Discord, as well as through email (emails will be gathered through Devpost). Workshops and the opening and closing ceremonies will be announced on Discord and held through Zoom/Youtube.
				</p>
				<h2 class="font-display text-md md:text-xl font-bold">
					Project Submission:
				</h2>
				<p class="py-4 px-4">
					Teams will submit their projects and presentations for peer/audience review on the VTXCADs 2.0 Devpost. In their submission, teams will include the CAD file, a presentation file, and a video recording. Before the award and judging periods, projects will be opened for approximately one day on Devpost, making them accessible to all participants registered through Devpost, as well as any visitors with the Devpost link. This is intended to allow for support and feedback from many different people. Those who give feedback are encouraged to be supportive. Overly negative and critical feedback is highly discouraged and will impact a team’s eligibility for awards.
				</p>
			</div>
		</div>
	</div>
</Layout>
