---
import mainLogo from "/logo.svg";
import lion from "/lion.svg";
import logoWithText from "/logoWithText.svg";
import instagram from "/instagram.svg";
import "animate.css";
---

<footer
	class="flex items-center justify-between bg-neutral-50 md:py-10 md:px-24 py-10 px-6 text-black"
>
	<div class="flex flex-col justify-start gap-5">
		<a href="/">
			<img src={logoWithText} alt="" class="h-auto md:w-72 w-52" />
		</a>
	</div>
	<div
		class="flex flex-col justify-end gap-2 text-right font-display font-bold text-sm md:text-md"
	>
		<a href="/">Home</a>
		<a href="/ourteam">Our Team</a>
		<a href="/achievements">Awards and Highlights</a>
		<a href="/posts">Outreach</a>
		<a href="/vtxcads">VTX CADs</a>
		<a
			href="https://www.instagram.com/ftcvertex/"
			class="flex flex-row-reverse"
		>
			<img src={instagram} alt="" class="h-8 w-8" />
		</a>
	</div>
</footer>
