---
import mainLogo from "/logo.svg";
import lion from "/lion.svg";
import logoWithText from "/logoWithText.svg";
import instagram from "/instagram.svg";
import MenuBar from "@components/MenuBar";
import "animate.css";
---

<div
	class="fixed z-50 flex w-screen flex-wrap items-center justify-center gap-12 pt-6 pb-16 font-display text-lg font-bold bg-gradient-to-b from-black animate__animated animate__fadeIn"
>
	<MenuBar client:load />
	<a href="/" aria-label="FTC VERTEX Logo">
		<div class="relative h-9 w-9">
			<img src={mainLogo} class="h-full w-full" alt="" />
		</div>
	</a>
	<div class="duration-150 hover:px-5 md:block hidden">
		<a href="/">Home</a>
	</div>
	<div class="duration-150 hover:px-5 md:block hidden">
		<a href="/ourteam">Our Team</a>
	</div>
	<div class="duration-150 hover:px-5 md:block hidden">
		<a href="/achievements">Achievements</a>
	</div>
	<div class="duration-150 hover:px-5 md:block hidden">
		<a href="/posts">Outreach</a>
	</div>
	<div class="duration-150 hover:px-5 md:block hidden">
		<a href="/vtxcads">VTX CADs</a>
	</div>
	<a href="https://www.instagram.com/ftcvertex/" aria-label="Instagram Page"><img src={instagram} alt="" class="h-6 w-6 md:h-8 md:w-8 invert" />
	</a>
</div>
